html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    display: block;
}
html, body {
    padding: 0;
    margin: 0;
    overflow-x: scroll;
    overflow-x: hidden;
    width : 100vw;
    height : 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: black;
}

section {
    background-color: transparent;
    width: 90%;
    height: 75%;
    overflow: auto;
    margin-top: 20px;
}

h1 {
    font-size: 40px;
}

textarea {
    width : 60%;
    height: 25px;
    margin-left: 20px;
    padding-left: 10px;
    resize: none;
    border-style: outset;
    border-radius: 20px;
    border-color:gray;
    background-color: transparent;
    font-size: 20px;
    overflow: hidden;
    white-space: pre-line, pre-wrap;
    
}

div {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 10px;
    border-style: outset;
    border-radius: 20px;
    width: 90%;
    background-image: linear-gradient(to top left,#eaecee ,#a1887f)
}

textarea:focus{
    outline: none;
}

p {
    padding: 10px;
    width: 90;
    height: auto;
    display: contents;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:dimgray;
}

span {
    background-color: transparent;
}

a {
    background-color: transparent;
    text-decoration: underline;
    color:orangered
}

.blue {
    color:lightblue;
}

.red {
    color:orange;
}

.green {
    color:lightgreen;
}

.gray {
    color: lightslategrey;
}