html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    display: block;
}
html, body {
    padding: 0;
    margin: 0;
    overflow-x: scroll;
    overflow-x: hidden;

    background-image: linear-gradient(to top left,#eaecee ,#a1887f)
}

section {
    width : 100vw;
    height : 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 40px;
}

textarea {
    width : 60%;
    height: 25px;
    margin-left: 20px;
    padding-left: 10px;
    resize: none;
    border-style: outset;
    border-radius: 20px;
    border-color:gray;
    background-color: transparent;
    font-size: 20px;
    overflow: hidden;
    white-space: pre-line, pre-wrap;
    
}

div {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 90%;
}

textarea:focus{
    outline: none;
}

p {
    padding: 10px;
    width: 95vw;
    height: auto;
    min-height: 75%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:black;
    border-style: outset;
    border-radius: 20px;
    border-color:dimgray;
}

span {
    background-color: transparent;
}

a {
    background-color: transparent;
    text-decoration: underline;
    color:darkred
}

.blue {
    color:darkblue;
}

.green {
    color:darkgreen;
}